<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/view/carrito/CarritoCSS/Carrito.css">
    <script src="/view/carrito/CarritoJS/Carrito.js" defer></script>
    <script src="/view/dahsboard/DasboardJS/cartService.js" defer></script>
    <script src="/views/productos/js/productos.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Incluye Leaflet CSS y JS -->  
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />  
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>  
 
</head>
<body>
    <div class="menu">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x'></i>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <img class="img_logo" id="cloud" src="/img/logo mini white.png" alt="">
                <a href="/view/dahsboard/index.html">
                    <img class="img_logo2" id="cloud" src="https://dummyimage.com/180x100/fff/aaa" alt="">
                </a>
                <span>Farmacia</span>
            </div>
            <li class="search-box">
                  <i class="bx bx-search icon"></i>
                  <input class="barra_nav" id="search-input" type="search" placeholder="Search...." onkeyup="search()"/>
                </li>
            </li>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="Farmacia" href="/view/productos/farmacia.html">
                        <i class='bx bx-injection icon'></i>
                        <span>Farmacia</span>
                    </a>
                </li>
                <li>
                    <a id="Belleza" href="/view/productos/belleza.html">
                        <i class='bx bxs-face icon'></i>
                        <span>Belleza</span>
                    </a>
                </li>
                <li>
                    <a id="Comestibles" href="/view/productos/comestibles.html">
                        <i class='bx bx-donate-heart icon'></i>
                        <span>Comestibles</span>
                    </a>
                </li>
                <li>
                    <a id="Bebes" href="/view/productos/bebes.html">
                        <i class='bx bxs-baby-carriage icon'></i>
                        <span>Bebes</span>
                    </a>
                </li>
                <li>
                    <a id="Cuidado-Personal" href="/view/productos/cuidado-personal.html">
                        <i class='bx bxs-face icon'></i>
                        <span>Cuidado Personal</span>
                    </a>
                </li>
                <li>
                    <a id="Hogar" href="/view/productos/hogar.html">
                        <i class='bx bx-home icon'></i>
                        <span>Hogar</span>
                    </a>
                </li>
                <li>
                    <a id="Carrito" href="/view/carrito/index.html">
                        <i class='bx bx-cart-add icon'></i>
                        <span>Carrito</span>
                        <span id="cuenta-carrito">0</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="usuario">
                <img class="usuario_img" src="" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">User</span>
                        <span class="email">User@gmail.com</span>
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>

    </div>

    <main>

        <div id="productos-container"></div>
        <div id="total">Total: bs. 0,00</div> 
        <button class="botonpago" id="btn-pago">  
            <span>Finalizar Compra</span>  
        </button>  
        
       <!-- Modal -->  
        <div id="modalPago" class="modal">  
            <div class="modal-content">  
                <span class="close" id="cerrarModal">&times;</span>  
                <h2>Pasarela de Pago</h2>  
                <form id="formPago">  
                    <label for="nombre">Nombre:</label>  
                    <input type="text" id="nombre" name="nombre" required>  
        
                    <label for="tarjeta">Número de tarjeta:</label>  
                    <input type="text" id="tarjeta" name="tarjeta" required>  
        
                    <label for="fecha">Fecha de expiración:</label>  
                    <input type="text" id="fecha" name="fecha" placeholder="MM/AA" required>  
        
                    <label for="cvv">CVV:</label>  
                    <input type="text" id="cvv" name="cvv" required>  
        
                    <h3>Opciones de Entrega</h3>  
                    <input type="radio" id="pickup" name="entrega" value="pickup" checked>  
                    <label for="pickup">Pickup</label>  
        
                    <input type="radio" id="delivery" name="entrega" value="delivery">  
                    <label for="delivery">Delivery</label>  
        
                    <div id="direccionSection" style="display: none;">  
                        <label for="direccion">Dirección:</label>  
                        <input type="text" id="direccion" name="direccion" readonly>  
                        <button type="button" id="btn-mapa">Seleccionar Ubicación en el Mapa</button>  
                        <div id="map" style="width: 100%; height: 300px; display: none;"></div> <!-- Mapa -->  
                    </div>  
        
                    <button type="submit" class="botonpago">Confirmar Pago</button>  
                </form>  
            </div>  
        </div>  
    </main>

    <footer class="footer">  
        <div class="container">  
            <div class="row">  
                <div class="footer-col">  
                    <h4>Empresa</h4>  
                    <ul>  
                        <li><a href="#">Acerca de Nosotros</a></li>  
                        <li><a href="#">Nuestros Servicios</a></li>  
                        <li><a href="#">Política de Privacidad</a></li>  
                    </ul>  
                </div>  
                <div class="footer-col">  
                    <h4>Obtener Ayuda</h4>  
                    <ul>  
                        <li><a href="#">Preguntas Frecuentes (FAQ)</a></li>  
                        <li><a href="#">Envío</a></li>  
                        <li><a href="#">Devoluciones</a></li>  
                        <li><a href="#">Opciones de pago</a></li>  
                    </ul>  
                </div>  
                <div class="footer-col">  
                    <h4>Síguenos En</h4>  
                    <div class="social-links">  
                        <a href="#"><i class='bx bxl-facebook'></i></a>  
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>  
                        <a href="#"><i class='bx bxl-twitter'></i></a>  
                        <a href="#"><i class='bx bxl-whatsapp'></i></a>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </footer>  


</body>
</html>