<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/public//Carrito.css">
    <link rel="shortcut icon" href="/public/img/logo mini white.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Incluye Leaflet CSS y JS -->  
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />  
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>  
 
</head>
<body>
    <div class="menu">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x'></i>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <img class="img_logo" id="cloud" src="/img/logo mini white.png" alt="">
                <a href="/user">
                    <img class="img_logo2" id="cloud" src="/public/img/logo mini white.png" alt="">
                </a>
                <span>FarmaEscobar</span>
            </div>
            
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="Farmacia" href="/user/farmacia">
                        <i class='bx bx-injection icon'></i>
                        <span>Farmacia</span>
                    </a>
                </li>
                <li>
                    <a id="Farmacia" href="/user/Ofertas">
                        <i class='bx bxs-offer icon'></i>
                        <span>Ofertas</span>
                    </a>
                </li>
                <li>
                    <a id="Belleza" href="/user/belleza">
                        <i class='bx bxs-face icon'></i>
                        <span>Belleza</span>
                    </a>
                </li>
                <li>
                    <a id="Comestibles" href="/user/comestibles">
                        <i class='bx bx-donate-heart icon'></i>
                        <span>Comestibles</span>
                    </a>
                </li>
                <li>
                    <a id="Bebes" href="/user/bebes">
                        <i class='bx bxs-baby-carriage icon'></i>
                        <span>Bebes</span>
                    </a>
                </li>
                <li>
                    <a id="Cuidado-Personal" href="/user/cuidado-personal">
                        <i class='bx bxs-face icon'></i>
                        <span>Cuidado Personal</span>
                    </a>
                </li>
                <li>
                    <a id="Hogar" href="/user/hogar">
                        <i class='bx bx-home icon'></i>
                        <span>Hogar</span>
                    </a>
                </li>
                <li>
                    <a id="Carrito" href="/carrito">
                        <i class='bx bx-cart-add icon'></i>
                        <span>Carrito</span>
                        <span id="cuenta-carrito">0</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <main>

        <div id="productos-container"></div>
        <div id="total">Total: bs. 0,00</div> 
        <button class="botonpago" id="btn-pago">  
            <span>Finalizar Compra</span>  
        </button>  
        
            <!-- Modal -->  
            <div id="modalPago" class="modal">  
                <div class="modal-content">  
                    <span class="close" id="cerrarModal">&times;</span>  
                    <h2>Pasarela de Pago</h2>  
                    
                    <!-- Botones para seleccionar el modo de pago -->  
                    <div id="botonesPago">  
                        <button id="btnPagoMovil">Pago Móvil</button>  
                        <button id="btnDivisas">Divisas</button>  
                    </div>  
                    
                    <!-- Sección para Pago Móvil -->  
                    <div id="seccionPagoMovil" style="display: none;">   
                        <p>Teléfono:</p>  
                        <input type="text" id="telefono" disabled> 

                        <p>Cédula de identidad:</p>  
                        <input type="text" id="cedula" disabled> 

                        <p>Banco:</p>  
                        <input type="text" id="banco" disabled> 

                        <label for="referencia">  
                            <p>Referencia Bancaria</p>  
                        </label>  

                        <input type="text" id="referencia" placeholder="Referencia Bancaria (Número de Referencia Completo)" maxlength="20" required>  
                        
                        <div id="mostrarmonto"></div>  
                        <button id="btnConfirmarPagoMovil">Confirmar Pago Móvil</button>  
                    </div>  
            
                    <!-- Sección para Divisas -->  
                    <div id="seccionDivisas" style="display: none;">  
                        <p>Seleccione el método de pago:</p>  
                        
                        <button id="btnEfectivoBs">Efectivo (Bolívares)</button>  
                        <button id="btnEfectivoDivisas">Efectivo (Divisas)</button>  
                        
                        <div id="divEfectivoBs" style="display: none;">  
                            <p>A continuación se mostrará el monto total:</p>  
                            <div id="total2">Total: bs. 0.00</div>   
                            <button id="btnConfirmarBs">Confirmar Pago en Bolívares</button>  
                        </div>

                        <div id="divEfectivoDivisas" style="display: none;">  
                            <p>Monto a cancelar en divisas:</p>  
                            <div id="tasaCambio" style="margin-top: 10px;"></div>
                            <input type="number" id="montoDivisas" placeholder="Ingrese el monto en divisas" required>  
                            <button id="btnConfirmarDivisas">Confirmar Pago en Divisas</button>    
                        </div>  
                    </div>  
                </div>    
            </div> 
        </div>    
    </main>

    <script src="/public/Carrito.js"></script>
    <script src="/public/cartService.js"></script>
</body>
</html>