<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio de Sesion</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/Register.css">  
	

</head>
<body>
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form id="register-form" action="#">
					<h1 class="crearcuenta">Crear Cuenta </h1>
					<span>Use su correo electronico para iniciar sesion</span>

					<label for="user-register" class="sr-only">Usuario</label>  
					<input type="text" name="user" id="user-register" placeholder="Nombre de Usuario" required>
					<small class="help-text">Ejemplo: juan123</small>

					<label for="email-register" class="sr-only">Email</label>  
					<input type="text" name="email" id="email-register" placeholder="Correo Electronico" required>
					<small class="help-text">Ejemplo: juan@example.com</small>    

					<label for="password-register" class="sr-only" >Password</label>  
					<input type="password" name="password" id="password-register" placeholder="Contraseña" required>
					<small class="help-text">Debe contener al menos una letra mayúscula, una minúscula y un número.</small>  

					<label for="confirmPassword" class="sr-only">password</label>
					<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmar Contraseña" required>
					<small class="help-text">Debe coincidir con la contraseña anterior.</small>

					<button type="submit">Iniciar sesión</button> 
					<p class="error escondido">Error al Registrarse</p> 
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form id="login-form" action="#">
					<h1>Iniciar Sesion</h1>
					<label for="user-login" class="sr-only">Usuario</label>  
					<input type="text" name="user" id="user-login" placeholder="Correo Electronico">  

					<label for="password-login" class="sr-only" >Password</label>  
					<input type="password" name="password" id="password-login" placeholder="Contraseña">

					<button type="submit">Iniciar sesión</button> 
					<p class="error escondido">Error al Iniciar Sesion</p>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>¡Bienvenido!</h1>
						<p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
						<button class="ghost" id="signIn">Iniciar Sesion</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>¡Hola!</h1>
						<p>Introduce tus datos personales y realiza tus compra con nosotros</p>
						<button class="ghost" id="signUp">Unete</button>
					</div>
				</div>
			</div>
		</div>

	<script type="text/javascript" src="/js/register.js" ></script>
</body>
</html>