<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogar</title>
    <link rel="stylesheet" href="/css/productos.css">
    <link rel="shortcut icon" href="/public/img/logo mini white.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="menu">
        <i class='bx bx-menu'></i>
        <i class='bx bx-x'></i>
    </div>

    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <img class="img_logo" id="cloud" src="/img/logo mini white.png" alt="">
                <a href="/user">
                    <img class="img_logo2" id="cloud" src="/public/img/logo mini white.png" alt="">
                </a>
                <span>FarmaEscobar</span>
            </div>
            
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="Farmacia" href="/user/farmacia">
                        <i class='bx bx-injection icon'></i>
                        <span>Farmacia</span>
                    </a>
                </li>
                <li>
                    <a id="Farmacia" href="/user/Ofertas">
                        <i class='bx bxs-offer icon'></i>
                        <span>Ofertas</span>
                    </a>
                </li>
                <li>
                    <a id="Belleza" href="/user/belleza">
                        <i class='bx bxs-face icon'></i>
                        <span>Belleza</span>
                    </a>
                </li>
                <li>
                    <a id="Comestibles" href="/user/comestibles">
                        <i class='bx bx-donate-heart icon'></i>
                        <span>Comestibles</span>
                    </a>
                </li>
                <li>
                    <a id="Bebes" href="/user/bebes">
                        <i class='bx bxs-baby-carriage icon'></i>
                        <span>Bebes</span>
                    </a>
                </li>
                <li>
                    <a id="Cuidado-Personal" href="/user/cuidado-personal">
                        <i class='bx bxs-face icon'></i>
                        <span>Cuidado Personal</span>
                    </a>
                </li>
                <li>
                    <a id="Hogar" href="/user/hogar">
                        <i class='bx bx-home icon'></i>
                        <span>Hogar</span>
                    </a>
                </li>
                <li>
                    <a id="Carrito" href="/carrito">
                        <i class='bx bx-cart-add icon'></i>
                        <span>Carrito</span>
                        <span id="cuenta-carrito">0</span>
                    </a>
                </li>
                <li>
                    <button id="cerrarsesion">
                        <i class='bx bx-power-off icon'></i>
                        <span>Cerrar Sesion</span>
                    </button>
                </li>
                
            </ul>
        </nav>

        <div>
            <div class="linea"></div>

            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span>Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> 


    <main>      
        <div class="productos" id="hogar"></div>      

    </main>

    <footer class="footer">  
        <div class="container">  
            <div class="row">  
                <div class="footer-col">  
                    <h4>Empresa</h4>  
                    <ul>  
                        <li><a href="#">Acerca de Nosotros</a></li>  
                        <li><a href="#">Nuestros Servicios</a></li>  
                        <li><a href="#">Política de Privacidad</a></li>  
                    </ul>  
                </div>  
                <div class="footer-col">  
                    <h4>Obtener Ayuda</h4>  
                    <ul>  
                        <li><a href="#">Preguntas Frecuentes (FAQ)</a></li>  
                        <li><a href="#">Envío</a></li>  
                        <li><a href="#">Devoluciones</a></li>  
                        <li><a href="#">Opciones de pago</a></li>  
                    </ul>  
                </div>  
                <div class="footer-col">  
                    <h4>Síguenos En</h4>  
                    <div class="social-links">  
                        <a href="#"><i class='bx bxl-facebook'></i></a>  
                        <a href="#"><i class='bx bxl-instagram-alt'></i></a>  
                        <a href="#"><i class='bx bxl-twitter'></i></a>  
                        <a href="#"><i class='bx bxl-whatsapp'></i></a>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </footer>  

    <script src="/public/hogar.js"></script>
    <script src="/public/cartService.js"></script>
</body>
</html>