@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
:root{
    /* ==== Colores ==== */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color: #49e3ba;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --scroller-color: #88ebd0;
    --text-scroller: #000;
    --like:#fc5757  ;
    --iconcolor:#000;    
    /* ===== Transiciones ===== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.dark-mode{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #fff;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --iconcolor:#000; 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
}

/*-----------------Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    right: 15px;
    top: 15px;
    z-index: 100;
}


/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--sidebar-color);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--text-color);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .img_logo{
    height: 55px;
    display: none;
}
.barra-lateral .img_logo2{
    height: 55px;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}


/*------------> Botón*/
.barra-lateral .search-box{
    gap: 8px;
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
}
.barra-lateral .search-box .bx-search{
    min-width: 20px;
    font-size: 20px;
    margin-left: 10px;
}

.barra-lateral .search-box .barra_nav{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}



/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 98%;
    gap: 20px;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--text-color);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--primary-color);
    color: var(--body-color);
}

.barra-lateral .navegacion a .icon{
    margin-left: 10px;
}

/*-----------------> Linea*/
.barra-lateral .linea{
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
    width: 100%;
    margin-bottom: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.barra-lateral .modo-oscuro .info{
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--text-color);
}
.barra-lateral .modo-oscuro .icon{
    width: 50px;
    font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--text-color);
    border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
    position: absolute;
    width: 18px;
    height: 80%;
    background-color: var(--sidebar-color);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
    transform: translateX(70%) ;
}
.barra-lateral .modo-oscuro .circulo.prendido{
    transform: translateX(40px);
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 20px;
}
.usuario_img{
    background-color: #49e3ba;
}


/*-------------main*/

main{
    width: 79%;
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}
/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 25px;
    }
    main.min-main{
        margin-left: 0;
    }

    
}

#productos-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.vacio{
    font-size: larger;
    color: var(--text-color);
}

#total{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: var(--text-color);
}

.card{  
    background: var(--sidebar-color)  ;  
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    margin: 17px;  
    overflow: hidden;  
    width: 218px; 
    height: 298px; 
    transition: transform 0.3s;  
  }  
  .card:hover {  
    transform: scale(1.05);  
  }  
  .imgBx img {  
    width: 100%;  
    height: 170px;
  }  
  .content {  
    padding: 10px;  
  }  
  .details{
    font-size: 13px;
    margin: 1pxx;
    color: var(--text-color);
  }
  .cantidad{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .boton{
    height: 30px;
    width: 70px;
  }
  
  .bx-like, 
  .bxs-cart-add{
   color: var(--iconcolor);
  }
  
  .bx-like, 
  .bxs-cart-add:hover{
   color: var(--iconcolor);
  }
  
  
.botonpago {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: var(--sidebar-color);
    border: none;
    cursor: pointer;
    transition: var(--tran-05);
}

.botonpago:hover{
background-color: var(--primary-color);
transition: var(--tran-05);
}

/* Estilo del modal */  
.modal {  
    display: none; /* Oculto por defecto */  
    position: fixed;  
    z-index: 1; /* Encima de todo */  
    left: 0;  
    top: 0;  
    width: 100%; /* Ancho completo */  
    height: 100%; /* Alto completo */  
    overflow: auto; /* Permitir desplazamiento si es necesario */  
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */  
}  

.modal-content {  
    background-color: var(--sidebar-color);  
    margin: 4%; /* 15% desde arriba y auto desde los lados */  
    margin-left: 530px;
    padding: 20px;  
    border: 1px solid #888;  
    width: 80%; /* Ancho */  
    max-width: 400px; /* Máximo ancho */  
    color: var(--text-color);
}  

.close {  
    color: var(--text-color);  
    float: right;  
    font-size: 28px;  
    font-weight: bold;  
}  

.close:hover,  
.close:focus {  
    color: var(--text-color);  
    text-decoration: none;  
    cursor: pointer;  
}  

/* Estilo adicional para los inputs */  

#botonesPago{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

#botonesPago button{
    width: 170px;
    cursor: pointer;
    border: none;
    background: var(--primary-color);
    color: var(--text-color);
}

#seccionPagoMovil label{
    display: flex;
}

#btnConfirmarPagoMovil{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    margin-top: 20px;
}

/*
@media (max-width: 600px) {  
    .barra-lateral {  
        position: fixed;  
        left: -250px;  
    }  
    .max-barra-lateral {  
        left: 0; 
    }  
    .menu {  
        display: flex;  
    }  
    .menu ion-icon:nth-child(2) {  
        display: none; 
    }  
    main {  
        margin-left: 25px;   
    }  
    main.min-main {  
        margin-left: 0; 
    }  

    .modal {  
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translate(-48%, -50%);
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        display: none;  
    }  

    .modal.active {  
        display: block; 
    }  

    .modal-header {  
        padding: 10px;  
        border-bottom: 1px solid #e0e0e0;  
    }  

    .modal-body {  
        padding: 20px;  
    }  

    .modal-footer {  
        padding: 10px;  
        border-top: 1px solid #e0e0e0;   
        display: flex;  
        justify-content: flex-end;   
    }  

    .modal-close {  
        background: #d9534f;   
        color: white;   
        border: none;  
        padding: 10px; 
        border-radius: 4px;   
        cursor: pointer;  
        transition: 0.3s;   
    }  

    .modal-close:hover {  
        background: #c9302c;  
    }  
}  

  
@media (min-width: 601px) and (max-width: 800px) {  
    .modal {  
        width: 80%;   
        max-width: 600px;    
    }  
}  

@media (min-width: 801px) {  
    .modal {  
        width: 50%;   
        max-width: 800px;  
    }  
}  
*/